/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

/* Result Container */
.result-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 800px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.prediction-text {
    font-size: 24px;
    color: #4CAF50;
    font-weight: bold;
    margin: 20px 0;
}

/* Button */
button {
    width: 50%;
    padding: 12px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 30px;
}

button:hover {
    background-color: #C70039;
    transform: scale(1.05);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .result-container {
        width: 95%; /* Adjust width for smaller screens */
    }
}
